@charset 'utf-8';

// ==========================================================================
// Sassy Starter by Mina Markham
// A SMACSS-based starter toolkit for SCSS projects
//
// The toolkit uses recommendations from Scalable and Modular Architecture for CSS (SMACSS)
// @link http://smacss.com/book
//
// Site:    https://minamarkham.github.io/sassy-starter
// Author:  Mina Markham
// Email:   mina@mina.codes
// Date:    10/25/15
// ==========================================================================

// CSS Debugging
//
// Toggle layout debugging with CSS Pesticide.
//
// $pesticide-debug-outline - {boolean} adds outlines to all elements.
// $pesticide-debug-depth - {boolean} adds shadows to all elements.
// @source - http://pesticide.io/

$pesticide-debug-outline: false;
$pesticide-debug-depth: false;

// ==========================================================================
// $Libs
// ==========================================================================
@import 'libs/index';

// ==========================================================================
// $Utilities
// ==========================================================================
@import 'utilities/index';

// ==========================================================================
// $Base
// ==========================================================================
@import 'base/index';

// ==========================================================================
// $Layout
// ==========================================================================
@import 'layout/index';

// ==========================================================================
// $Atoms
// ==========================================================================
@import 'atoms/index';

// ==========================================================================
// $Molecules
// ==========================================================================
@import 'molecules/index';

// ==========================================================================
// $Organisms
// ==========================================================================
@import 'organisms/index';

// ==========================================================================
// $States
// ==========================================================================
@import 'states/index';

// ==========================================================================
// $Overrides
// ==========================================================================
@import 'overrides/index';

// ==========================================================================
// $Print
// ==========================================================================
@import 'states/print';

// ==========================================================================
// $Fonts
// ==========================================================================
@import 'utilities/fonts';

// ==========================================================================
// $Shame
// ==========================================================================
@import 'shame';


header{
	height: 80px;
	background-color: #327A95;
	width: 100%;
	display: flex;
	flex-direction: column;
}

input{
	width: 40px;
	height: 40px;
	display: none;
}

label{
	align-self: end;
	margin: 20px;
}

.menu ul{
	list-style: none;
	background-color: #327A95;
	padding: 0px;
	margin: 0px;
}

.menu a{
	color: #FFFFFF;
	width: 100%;
	text-align: center;
}

.menu li{
	padding: 5px;
	display: flex;
	justify-content: center;
}

.menu li:hover{
	background-color: #FFC104;
}

.menu{
	display: none;
	margin-top: -5px;
}

input[type="checkbox"]:checked ~ div{
	display: block;
	border-top: 1px solid #fff;
}


input[type="checkbox"] + label:before{
	//content: url("../burger.png");
	content: url("../img/burger.png");
	position: relative;
}

input[type="checkbox"] + label:hover:before{
	content: url("../img/burger_hover.png");
	cursor: pointer;
}

input[type="checkbox"]:checked + label:before{
	content: url("../img/close.png");
	position: relative;
}

input[type="checkbox"]:checked + label:hover:before{
	content: url("../img/close_hover.png");
	cursor: pointer;
}
